<div class="renbo-container">
    <h1> Your one of a kind NFT collection </h1>
  <%# <div class="carousel2"> %>
    <div class="margin-collection margin-fix">
      <% i = 1 %>
    <% @tokens.last(3).each do |token|%>
        <input type="radio" name="slider" id="item-<%= i %>" checked>
        <% i += 1 %>
      <% end %>
      <div class="cards3 collection-wrapper">
      <% i = 1 %>

        <% @tokens.shuffle.last(3).each do |token|%>
          <label class="card2" for="item-<%= i %>" id="song-<%= i %>">
            <%=image_tag token.ticket.image_url, alt: "song", width: "100%", height: "100%", class: "caro-image  card-collection nft-collection"%>

            <%=image_tag token.ticket.image_url, alt: "song", width: "100%", height: "100%", class: "shadow-img2  card-collection"%>
          </label>
          <% i += 1 %>
        <%end%>
        
      </div>
    </div>
  <%# </div> %>
  <div class="renbo-container center-btns">
  <button class="renbo-btn sell-btn">Ready to sell?</button>
  <button class="renbo-btn sell-btn2">Event Details</button>
  
  </div>
</div>
