<div class="event-card">
  <div class="event-location-tag">
    <p class="event-location-tag-text"><i class="fas fa-location-arrow location-icon"></i><%= event.city %></p>
  </div>
  <%= image_tag event.image_url, class: "event-card-img" %>
  <div class="event-card-content">
    <h4><%= link_to event.name, "/events/#{event.id}" %></h4>
    <div style="color: #7B7B7B">
      <p><%= event.start_time.strftime('%m/%d/%Y') %></p>
      <div>
        <div class="d-flex justify-content-center">
          <div class="d-flex align-items-center">
            <%= image_tag "card/ticket.png", class: "ticket-icon" %>
            <p>100</p>
          </div>
        </div>
      </div>
      <% if current_user %>
        <% if event.bookmarks.pluck(:user_id).include?(current_user.id) == true %>
          <% bookmark = event.bookmarks.find_by(user_id:current_user.id) %>
          <%=button_to bookmark_path(bookmark), method: :delete, remote: true do %>
            <i class="fas fa-heart heart-icon"></i>
          <% end %>
        <% else %>
          <%= button_to event_bookmarks_path(event), method: :post, remote: true do %>
              <i class="far fa-heart heart-icon"> </i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
