<div class="event-card">
  <%= link_to "/events/#{event.id}", class: "event-card-img" do %>
    <div class="event-location-tag">
      <p class="event-location-tag-text"><i class="fas fa-location-arrow location-icon"></i><%= event.city %></p>
    </div>
    <%= image_tag event.image_url, class: "event-card-img" %>
  <% end %>
  <div class="event-card-content">
    <h4><%= link_to event.name, "/events/#{event.id}" %></h4>
    <div style="color: #7B7B7B">
      <%= link_to "/events/#{event.id}", class: "event-card-img" do %>
      <p><%= event.start_time.strftime('%d/%m/%Y') %></p>
      <div>
        <div class="d-flex justify-content-center">
          <div class="d-flex align-items-center">
            <%if event.tokens.count == 0 %>
              <p>SOLD OUT</p>
            <%else%>
              <i class="fas fa-ticket-alt ticket-icon"></i><%= event.tokens.count %>
            <%end%>
          </div>
        </div>
      </div>
      <% end %>
      <% if current_user %>
        <% if event.bookmarks.pluck(:user_id).include?(current_user.id) == true %>
          <% bookmark = event.bookmarks.find_by(user_id:current_user.id) %>
          <%=button_to bookmark_path(bookmark), method: :delete, remote: true do %>
            <i class="fas fa-heart heart-icon"></i>
          <% end %>
        <% else %>
          <%= button_to event_bookmarks_path(event), method: :post, remote: true do %>
            <i class="far fa-heart heart-icon"> </i>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="far fa-heart heart-icon"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
