
<div class="carousel2">

<div class="container2">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
  <div class="cards3">
    <label class="card2" for="item-1" id="song-1">

      <%= image_tag "nft1.png", class:"caro-image" %>
      <%= image_tag "nft1.png", class:"shadow-image" %>
    </label>
    <label class="card2" for="item-2" id="song-2">

      <%= image_tag "nft2.png", class:"caro-image" %>
      <%= image_tag "nft2.png", class:"shadow-image" %>
    </label>
    <label class="card2" for="item-3" id="song-3">
      <%= image_tag "nft3.png", class:"caro-image" %>
      <%= image_tag "nft3.png", class:"shadow-image" %>
    </label>

  </div>

</div>
</div>
