<div class="ticket-table">
  <div class="table-title table-top">
    <h5>Tickets Selling</h5>
  </div>
  <div class="table-header table-top">
    <p class="table-header-empty"></p>
    <p class="table-col"><strong>Ticket Details</strong></p>
    <p class="table-col"><strong>Status</strong></p>
    <p class="table-col"><strong>Time Left</strong></p>
    <p class="table-col"><strong>Price</strong></p>
    <p class="table-col"></p>
  </div>
  <div class="table-tickets">
    <% tokens.each do |token| %>
      <div class="table-row">
        <div class="table-image">
          <img width="95%" height="95%" src="<%= token.ticket.image_url %>" alt="">
        </div>
        <p class="table-col"><%= token.ticket.title %></p>
        <p class="table-col"><%= token.status.capitalize %></p>
        <p class="table-col">1d:12h:25m:10s</p>
        <p class="table-col"><strong>$<%= token.price %></strong></p>
        <div class="table-col">
          <%= link_to token_cart_items_path(token), :method => :post do %>
            <button class="renbo-btn">Add to cart</button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
