<%= link_to ticket_path(ticket) do %>
<div class="ticket-card">
  <% if ticket.VIP %>
    <div class="renbo-label vip-label"><strong>VIP</strong></div>
  <% end %>
  <div class="ticket-card-image">
      <img height="95%" width="95%" src="<%= ticket.image_url%>" alt="">
  </div>
  <div class="ticket-content">
    <h5><%= ticket.title.first(18) %></h5>
    <p><%= ticket.description.first(50) + " ..."  %></p>
  </div>
  <div class="ticket-price-tag">
    <p><strong>Starts from <%= humanized_money_with_symbol(ticket.original_price) %></strong></p>
  </div>
</div>
<% end %>
