<% if @events.empty? %>

<%# what is returned if there no results %>
<div class="no-search-results">
    <div class="box-center">
      <div grid-item>
        <%= image_tag "search/sorrymsg.png", class: "index-error" %>
      </div>
      
    </div>
</div>

<% else %>
<div class="wrapper">
<button class="search-filter"> Filters ☰ </button> 
</div>

<div class="home-heading">
  <div>
    <h3 id="index-heading"> Upcoming Events in 2022 </h3>
  </div>
</div>

<div class="renbo-container">
  <div class="event-card-grid">
    <% @events.each do |event| %>
        <div class="event-card">
          <%= image_tag event.image_url, class: "event-card-img", width: "100%", height: "100%"%>
              <p class="event-location-tag-text" id="tag-text-styling"><i class="fas fa-location-arrow location-icon"></i> <%= event.city%> </p>

          <div class="event-card-content">
            <h4> <%= link_to event.name, event_path(event) %></h4>
            <div style="color: #7B7B7B">
              <p><%= event.start_time.strftime('%d/%m/%Y') %> </p>
              <div>
                <div class="d-flex justify-content-center">
                  <div class="d-flex align-items-center">
                    <%= image_tag "card/ticket.png", class: "ticket-icon" %>
                    <p>100</p>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
      
    <% end %>
  </div>
  </div>
<% end %>