<% if @events.empty? %>

<%# what is returned if there no results %>
<div class="no-search-results">
    <div class="box-center">
        <p class="oops"> Oops!! </p>
        <p class="no-result-text"> We couldn't find any events based on your search criteria.. </p>
        <%# image of no search results goes here %>
    </div>
</div>

<% else %>

<%# what happens if there are results %>
<div class="search-result">
    <div>
    <h3> Find upcoming events </h3>
    </div>
</div>

<% @events.each do |event| %>
<div class=" card event-search-results" id="event-<%= event.id %>">
    <div class="event-result-image">
        <img src="https://www.btklsby.go.id/images/placeholder/basic.png" width="100%" height="100%" alt="" class="event-img">
     </div>
     <div class="event-result-info">
        <h4> <%= link_to event.name, event_path(event) %> </h4>
        <h3> <%event.date%> </h3>
 <% if current_user %>
                <% if event.bookmarks.pluck(:user_id).include?(current_user.id) == true %>
                  <% bookmark = event.bookmarks.find_by(user_id:current_user.id) %>
                  <%=link_to bookmark_path(bookmark), method: :delete, remote: true do %>
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                  <% end %>
                <% else %>
                  <%= link_to event_bookmarks_path(event), method: :post, remote: true do %>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path do %>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                <% end %>
              <%end%></h2>
    </div>
    <% end %>
</div>

<% end %>
