<div class="renbo-container">
  <%# <div class="dropdown filter">
    <button class="btn search-filter dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Filter
    </button>
  </div> %>

  <div class="filter-box">
    <form action="/events">
      <input type="hidden" name="q" value="<%= params['q']%>" />
      <select name="category" id="filter-category" onchange="this.form.submit()">
        <option value="">Category ...</option>
        <% Event.categories.each do |category| %>
        <option value="<%= category %>" <%= "selected" if params['category'] == category %>><%= category %></option>
        <% end %>
      </select>
      <select name="genre" id="filter-genre" onchange="this.form.submit()">
        <option value="">Music genre ...</option>
        <% Event.genres.each do |genre| %>
        <option value="<%= genre %>" <%= "selected" if params['genre'] == genre %>><%= genre %></option>
        <% end %>
      </select>
      <select name="city" id="filter-city" onchange="this.form.submit()">
        <option value="">City...</option>
        <% Event.all_cities.each do |city| %>
        <option value="<%= city %>" <%= "selected" if params['city'] == city %>><%= city %></option>
        <% end %>
      </select>
    </form>
  </div>
</div>

<% if @events.empty? %>
  <%# what is returned if there no results %>
  <div class="renbo-container">
    <h1> Sorry your search didn't return any results..</h1>
    <div class="no-search-results">
      <div class="box-center">
        <div grid-item>
          <%= image_tag "search/rainbow.gif", class: "index-error" %>
        </div>
      </div>
    </div>
  </div>
<%# If their search has results.... %>
<% else %>

<div class="renbo-container">
  <div class="home-heading">
    <div>
      <h3 id="index-heading" style="display: inline-block;"> Upcoming Events
      <% if params[:q].empty? %>
        <span class="query-heading"><%= params[:genre] %>
      <% elsif params[:q] != nil %>
        <span class="query-heading"><%= params[:q] %></span>
      <% end %>
      </h3>
    </div>
  </div>
  <div class="event-card-grid">
    <% @events.each do |event| %>
      <%= render "shared/card", event: event %>
    <% end %>
  </div>
</div>
<% end %>
