<div class="event-banner">
  <img width="100%" height="100%" src="<%= @event.image_url %>" alt="">
</div>

<div class="renbo-container">
  <div class="event-title">
    <h1><%= @event.name %></h1>
  </div>

  <div class="event-page-divider">

    <div class="event-left-container">

      <div class="event-about">
        <p><strong>About the event</strong></p>
        <p><%= @event.description %></p>
        <a href="<%= @event.event_url %>" target="_blank">Access website</a>
      </div>

      <h2 id="buy-now">Choose your ticket</h2>
      <hr>

      <div class="event-tickets">
        <% @event.tickets.each do |ticket| %>
          <%= render "shared/ticket", ticket: ticket, vip: true %>
        <% end %>
      </div>

      <h2>Browse all tickets</h2>
      <hr>

      <div class="event-marketplace">
        <%= render "shared/table", tokens: @tokens, event: @event %>
      </div>


      <h2>Locate the event</h2>
      <hr>

      <div class="event-map">
        <div style="width: 100%; height: 400px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>

    <div class="event-right-container">
      <div class="event-buy-box">
        <a href="#buy-now"><button class="renbo-btn">Browse tickets</button></a>
        <div class="event-info">
          <i class="fab fa-fort-awesome"></i>
          <p><%= @event.address %></p>
        </div>
        <div class="event-info">
          <i class="fas fa-map-marker-alt"></i>
          <p><%= @event.country %></p>
        </div>
        <div class="event-info">
          <i class="fas fa-calendar-alt"></i>
          <p><%=  @event.start_time.strftime("%d %B") %><em> to </em><%= @event.end_time.strftime("%d %B") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
