<div class="banner">
  <%= image_tag "banner-logo.png", class:"banner-img" %>
  <%= render "shared/searchbar", parent: "searchbar-banner" %>
</div>
<div class="renbo-container text-center">
  <h2 class="home-heading">HOT EVENTS</h2>
  <div class="event-card-grid">
    <%= render "shared/card" %>
    <%= render "shared/card" %>
    <%= render "shared/card" %>
  </div>
  <h2 class="home-heading">BROWSE GENRES</h2>
  <div class="genres">
    <div class="genre">
      <%= image_tag "genres/electronic", class:" genre-img" %>
      <h4>Electronic</h4>
    </div>
    <div class="genre">
      <%= image_tag "genres/classical", class:" genre-img" %>
      <h4>Classical</h4>
    </div>
    <div class="genre">
      <%= image_tag "genres/hip-hop", class:" genre-img" %>
      <h4>Hip-Hop</h4>
    </div>
    <div class="genre">
      <%= image_tag "genres/jazz", class:" genre-img" %>
      <h4>Jazz</h4>
    </div>
    <div class="genre">
      <%= image_tag "genres/pop", class:" genre-img" %>
      <h4>Pop</h4>
    </div>
    <div class="genre">
      <%= image_tag "genres/rock", class:" genre-img" %>
      <h4>Rock</h4>
    </div>
  </div>
  <h2 class="home-heading">A TICKET TO REMEMBER</h2>
  <p class="home-body">Free yourself from material posessions and get yourself a lasting memory which can also be a longterm investment. Your memories can now be stored forever in your new Renbo NFT Wallet.</p>
  <div>
    <%= image_tag "placeholder.png" %>
  </div>
  <h2 class="home-heading">CHANGE OF PLANS?</h2>
  <p class="home-body"> Fixed plans are a thing of the past, you now have the ability to sell your ticket and NFT to anyone across the world on our <strong> one of a kind </strong> marketplace.</P>
  <div class="justify-content-center d-flex">
    <%= render "shared/table" %>
  </div>
</div>
