<div class="renbo-container" data-controller="ticket-dropdown">
  <div class="ticket-banner">
    <h1 class="ticket-banner-heading"><%= @ticket.title %></h1>
    <div class="ticket-banner-image" style="background-image: url(<%= @ticket.image_url %>)"></div>
    <div class="ticket-banner-content">
      <div class="ticket-banner-description">
        <p>Description of the ticket, benefits, etc....
          And artpiece  Description of the ticket, benefits, etc....
          And artpiece  Description of the ticket, benefits, etc....
          And artpiece  Description of the ticket, benefits, etc....
          And artpiece  Description of the ticket, benefits, etc....
          And artpiece  Description of the ticket, benefits, etc....
          And artpiece  Description of the ticket, benefits, etc....
          And artpiece  Description of the ticket, benefits, etc....
        </p>
      </div>
      <div class="ticket-banner-details">
        <div class="ticket-banner-specifics">
          <p>VIP</p>
          <p>Free Seating</p>
        </div>
        <p>For: 1 day only</p>
      </div>
      <div class="ticket-banner-purchase">
        <%= simple_form_for @cart_item, url: tokens_add_path, remote: true, html: { class: "w-100" } do |f| %>
          <div class="d-flex justify-content-between">
            <h3><%= @ticket.no_available %> left</h3>
            <%= f.association :token,
              collection: Token.where(ticket_id: @ticket.id),
              prompt: "Select your unique ticket",
              label_method: lambda { |token| "#{token.ticket.title} #{token.id}"},
              input_html: { class: "ticket-dropdown" },
              label: false
              %>
              <button class="renbo-btn">Add to cart</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="ticket-info">
    <div class="ticket-show-container">
      <h2 class="tickets-show-heading">Browse all tickets</h2>
      <%= render "shared/table", tokens: @ticket.tokens %>
      <h2 class="tickets-show-heading">Other tickets for this event</h2>
      <div class="event-card-grid">
        <% @tickets.each do |ticket| %>
          <%= render "shared/ticket", ticket: ticket, vip: true %>
        <% end %>
      </div>
    </div>
    <div class="ticket-checkout-card">
    <h3>My cart</h3>
      <div class="ticket-checkout-dropdown">
        <%= render "shared/ticket_dropdown", class: "pb-5" %>
      </div>
      <% unless @cart_items.empty? %>
        <div class="ticket-checkout-summary">
        <ul class="mini-cart-list">
          <% @cart_items.each do |item| %>
            <li class="mini-cart-item">
              <%= @ticket.title %>
              $<%= item.token.price %>
              <%= link_to "X", cart_item_path(item), method: :delete %>
            </li>
          <% end %>
        </ul>
        </div>
      <div class="ticket-price-summary">
        <%= @cart.total_price %>
        <button class="renbo-btn"><%= link_to "Go to cart", cart_path %></button>
      <% end %>
      </div>
    </div>
  </div>
</div>
