<div class="renbo-container" data-controller="ticket-dropdown">
  <div class="ticket-banner">
    <h1 class="ticket-banner-heading"><%= @ticket.title %></h1>
    <div class="ticket-banner-image" style="background-image: url(<%= @ticket.image_url %>)"></div>
    <div class="ticket-banner-content">
      <div class="ticket-banner-description">
        <p> <%= @ticket.description %>
        </p>
      </div>
      <div class="ticket-banner-details">
        <div class="ticket-banner-specifics">
        <%if @ticket.VIP%>
        <div class="renbo-label vip-label text-center"><strong>VIP</strong></div>
        <%end%>
          <p>Free Seating</p>
        </div>
        <p>For: <%= (2..3).to_a.sample %> days only</p>
        <%= humanized_money_with_symbol(@ticket.original_price) %>
      </div>
      <div class="ticket-banner-purchase">
        <%= simple_form_for @cart_item, url: tokens_add_path, remote: true, html: { class: "w-100" } do |f| %>
          <div class="d-flex justify-content-between">
            <h3><%= @tokens_available.count %> / <%= @ticket.no_available %> left</h3>
            <% if  @tokens_available.count != 0 %>
              <%= f.association :token,
                collection: @tokens_available,
                prompt: "Select your unique ticket",
                label_method: lambda { |token| "#{token.ticket.title} # #{token.sequence_num}"},
                input_html: { class: "ticket-dropdown" },
                label: false
              %>
              <% if current_user %>
                <button class="renbo-btn">Add to cart</button>
              <% else %>
                <button class="renbo-btn-sec"><%= link_to "Sign in", new_user_session_path %></button>
              <% end %>
            <% else %>
              <div class="text-center">
                <h3>New tickets sold out ?</h3>
                <p>Try the <%= link_to "marketplace", marketplace_path, class:"mini-cart-sign-in" %> or <%= link_to "browse", "#browse", class:"mini-cart-sign-in" %> below.</p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="ticket-info">
    <div class="ticket-show-container">
      <h2 class="tickets-show-heading" id="browse">Browse all tickets</h2>
      <%= render "shared/table", tokens: @ticket.tokens %>
      <h2 class="tickets-show-heading">Other tickets for this event</h2>
      <div class="event-card-grid">
        <% @tickets.each do |ticket| %>
          <%= render "shared/ticket", ticket: ticket, vip: true %>
        <% end %>
      </div>
    </div>
    <div class="ticket-checkout-card">
      <h3>My cart</h3>
      <% if current_user %>
        <div class="ticket-checkout-dropdown">
          <% if @cart_items.empty? %>
            <%= simple_form_for @cart_item, url: tokens_add_path, remote: true, html: { class: "w-100" } do |f| %>
              <div class="justify-content-between">
                <%= f.association :token,
                  collection: @tokens_available,
                  prompt: "Select your unique ticket",
                  label_method: lambda { |token| "#{token.ticket.title} ##{token.sequence_num}"},
                  input_html: { class: "ticket-dropdown" },
                  label: false
                %>
                <div class="d-flex justify-content-end">
                  <button class="renbo-btn">Add to cart</button>
                </div>
              </div>
            <% end %>
          <% else %>
              <div class="ticket-checkout-summary">
                <ul class="mini-cart-list">
                  <% @cart_items.each do |item| %>
                    <li class="mini-cart-item">
                      <div class="w-50 mb-2">
                        <%= item.token.ticket.title %> #<%= item.token.sequence_num %>
                      </div>
                      <%= humanized_money_with_symbol(item.token.price) %>
                      <%= link_to "X", cart_item_path(item), method: :delete %>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class="ticket-price-summary">
                <%= humanized_money_with_symbol(@cart.total_price) %>
                <button class="renbo-btn"><%= link_to "Go to cart", cart_path %></button>
              </div>
          <% end %>
        </div>
      <% else %>
        <p><%= link_to "Sign in", new_user_session_path, class:"mini-cart-sign-in" %> to add to cart.</p>
      <% end %>
    </div>
  </div>
</div>
