<div class="renbo-container">
  <div class="table-large ticket-table cart-margin-top">
    <div class="table-title table-top">
      <h5>My Cart</h5>
    </div>
    <div class="table-header table-top">
      <p class="table-header-empty"></p>
      <p class="table-col-lg"><strong>Ticket Details</strong></p>
      <p class="table-col-lg"><strong>Status</strong></p>
      <p class="table-col-lg"><strong>Event</strong></p>
      <p class="table-col-lg"><strong>Dates</strong></p>
      <p class="table-col-lg"><strong>Price</strong></p>
      <p class="table-col-price-lg"></p>
    </div>
    <div class="table-tickets">
      <% @cart.cart_items.each do |cart_item| %>
        <div class="table-row">
          <div class="table-image">
            <img width="95%" height="95%" src="<%= cart_item.token.ticket.image_url %>" alt="">
          </div>
          <p class="table-col-lg"><%= cart_item.token.ticket.title %></p>
          <p class="table-col-lg"><%= cart_item.token.status.capitalize %></p>
          <p class="table-col-lg"><%= cart_item.token.ticket.event.name %></p>
          <p class="table-col-lg"><%= cart_item.token.ticket.event.start_time.strftime("%d %B") %> - <%= cart_item.token.ticket.event.end_time .strftime("%d %B") %></p>
          <p class="table-col-lg"><strong><%= humanized_money_with_symbol(cart_item.token.price) %></strong></p>
          <div class="table-col-price-lg">
            <%= link_to cart_item_path(cart_item), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="table-bottom">
      <p class="table-header-empty"></p>
      <p class="table-col-lg"><strong></strong></p>
      <p class="table-col-lg"><strong></strong></p>
      <p class="table-col-lg"><strong></strong></p>
      <p class="total-price-text table-col-lg"><strong>Total price:</strong></p>
      <p class="table-total-price table-col-lg"><strong><%= humanized_money_with_symbol(@cart.amount) %></strong></p>
      <p class="table-col-price-lg">
      <% unless @cart.cart_items.empty? %>
        <button id="pay" class="renbo-btn">Checkout</button>
      <% end %>
      </p>
    </div>
  </div>
</div>

<% unless @cart.cart_items.empty? %>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      var stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @transaction.checkout_session_id %>'
      });
    });
  </script>
<% end %>
